.prof-page {
  .MuiTab-wrapper {
    text-transform: capitalize;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
  .text-center {
    text-align: center;
  }
  .date-time,
  .status {
    padding: 5px 10px;
    width: auto;
    border: 1px solid #1a2038;
    margin: 5px;
    border-radius: 20px;
    background: #1a2038;
    color: white;
    font-weight: bold;
    font-size: 12px;
  }
  .status.pending {
    border-radius: 5px;
    background: #d45f26;
    border: 1px solid #d45f26;
  }
  .status.confirmed {
    border-radius: 5px;

    background: #79a552;
    border: 1px solid #79a552;
  }
}
