.search-results {
  margin: auto;
  max-width: 95%;
 
}
.experience {
  display: flex;
  justify-content: center;
}
.experience .content {
  text-align: center;
  padding: 5px 20px;
  border-radius: 95px;
  background: #a9841c;
  color: white;
  max-width: 150px;
  font-weight: 600;
  font-size: 14px;
}
.text-center {
  text-align: center;
}

