@mixin btn {
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0px 5px;
  padding: 5px 20px;
  border-radius: 20px;
  background: #b7b7b74f;
}
.header-home {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: white;
  transition: 0.2s background-color, 0.3s opacity, 0.3s transform;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  z-index: 101;
  padding: 0px 70px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  Button {
    @include btn();
    background: transparent;
    &:hover,
    &.active {
      @include btn();
    }
  }
}
